* {
  box-sizing: border-box;
}

body,
html {
  background-color: rgb(24, 125, 120);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--dark);
  line-height: 1.5;
  font-size: 24px;
  height: 100%;

  
}

h3  {
  font-weight: 700;
  margin: 0;
  color: white;
}

a {
  text-decoration: none;
  color: royalblue;
  font-weight: bold;
  font-size: larger;
  transition: color .1s;
  justify-content: right;
  font-family:'Lucida Sans';
}

a:hover {
  color: whitesmoke;
}

btn {
  background-color: rgba(69, 175, 138, 0.503);
  border: 0;
  padding: 6px 5px;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: rosybrown;
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}

nav  {
  border: double;
  background-color: lightseagreen;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px black;
}







.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 1em;
}

main {
  /* flex: 1; */
  padding: 2% 4%;
}



#delete-btn {
  background-color: black;
  color:white;
}

#delete-btn:hover {
  background-color: red;
}

li {
  margin-bottom: 2%;
  line-height: 150%;
border:white;
padding: 10;
}

article {
  padding: 40px;
  margin:auto;
  border: double;
  background-color: lightseagreen;
}

.title  {
  font-style: italic;
  font-size: 90%;
  color: white;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.hero {
  padding: 3% 4%;
  background-color: darkcyan;
  color: white;
}

.hero p {
  max-width: 75%;
}

.app-title {
  font-size: 3rem;
  background-color: lightseagreen;
  color: white;
  padding: 0 10px;
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px black;
}

.list-group {
  padding: 0;
  list-style: none;
}



.list-item:hover {
  background-color: var(--dark);
}
.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: lightseagreen;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post input {
  width: 300px;
}

.edit-post {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}